---
import Layout from '../layouts/Layout.astro';
import NavbarOut from '../components/Navbar_out.astro';
---

<Layout title="Netflix Mexico: Ve series online, ve peliculas online">
	<main>
		<div class="bk_image bg-center">
			<NavbarOut />
			<section class="px-44 text-white w-full h-full flex items-center justify-center">
				<div class="text-center mt-40 mb-32">
					<h1 class="font-extrabold text-5xl py-3">Unlimited movies and series and much more</h1>
					<h4 class="py-3 font-medium text-2xl">Enjoy anywhere. Cancel whenever you want</h4>
					<h4 class="py-3 font-medium text-2xl">Wanna se now? Type your email to create a new account or restart your membership</h4>
					<div class="py-3 flex justify-center w-full px-56">
						<input type="email" placeholder="Email" class="bg-transparent text-white border border-gray-300 px-5 rounded mx-2 w-2/3">
						<button type="submit" class="bg-red-700 flex items-center text-2xl px-4 py-2 rounded w-1/3">Comenzar <img src="/public/icons8-adelante-50.png" alt="arrow_image" class="w-4"></button>
					</div>
				</div>
			</section>
		</div>
	</main>
</Layout>
