---
import Layout from "../../layouts/Layout.astro"
import NavbarSign from "../../components/Navbar_sign.astro";
import FooterSign from "../../components/Footer_sign.astro"
---

<Layout title="Netflix">
    <main>
        <NavbarSign />
        <FooterSign />
    </main>
</Layout>
