---
import FooterSign from "../../components/Footer_sign.astro";
import NavbarSign from "../../components/Navbar_sign.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Netflix">
    <main>
        <NavbarSign />

        <section>

        </section>

        <FooterSign />
    </main>
</Layout>
